body {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;
}
input,
button {
  padding: 0.5rem;
  margin: 0.3rem;
}
ul {
  list-style-type: none;
  padding: 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

form,
#filters {
  margin-bottom: 1rem;
}
button {
  cursor: pointer;
}
